framework:
    mailer:
        dsn: '%env(MAILER_DSN)%'
        envelope:
            sender: '%env(MAILER_SENDER)%'
            recipients: [ 'testloutre@yopmail.com' ]
        headers:
            from: '%env(MAILER_SENDER_NAME)% <%env(MAILER_SENDER)%>'

