{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
    <h1>Edit Categories</h1>

    {{ include('back/categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_categories_index') }}">back to list</a>

    {{ include('back/categories/_delete_form.html.twig') }}
{% endblock %}
