{% extends 'base.html.twig' %}

{% block title %}New Subtopic{% endblock %}

{% block body %}
    <h1>Create new Subtopic</h1>

    {{ include('back/subtopic/_form.html.twig') }}

    <a href="{{ path('app_back_subtopic_index') }}">back to list</a>
{% endblock %}
