<h1>Maxime Freelance</h1>
<p>Bonjour {{ nameContact }},</p>
<p>Nous vous remercions pour votre commentaire.</p>
<p>Nous vous contacterons dans les plus brefs délais.</p>

<hr>

<p>En vous souhaitant une agréable journée,</p>
<p>Maxime Freelance</p>
<p>Siret: 53220638000034</p>
<p><a href="https://theneaumaxime.fr">theneaumaxime.fr</a></p>
